.post {
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	margin: 1rem auto 0 auto;
	max-width: 900px;
	padding-left: .5em;
}

/* Keep headers closer to their following content */
.post-content h1 + *,
.post-content h2 + *,
.post-content h3 + *,
.post-content h4 + *,
.post-content h5 + *,
.post-content h6 + * {
	margin-top: 0.5em;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.post-content h1 {
	font-size: 28px;
}

.post-content h2 {
	font-size: 25px;
}

.post-content h3 {
	font-size: 23px;
}

.post-content h4 {
	font-size: 21px;
}

.post-content h5 {
	font-size: 19px;
}

.post-content h6 {
	font-size: 18px;
}

.post-title {
	margin-bottom: 2em;
	margin-top: 0;
}

.post-title__heading {
	font-weight: bold;
	line-height: 40px;
	margin-bottom: 0;
	margin-top: 0;
}

.post-content {
	font-size: 16px;
	line-height: 1.4;
}

.post-content img {
	height: auto;
	max-width: 100%;
}

.post-content pre {
	font-size: .8125rem;
	overflow: auto;
	padding: 0.5em;
}

.post-content blockquote {
	border-left: 2px solid #d7d7d7;
	margin: 10px 0;
	padding: 0 10px;
}
