<nav class="footer-container">
  <ul class="footer">
    {{ with .Site.Author.name }}
      <li class="footer__name">© {{ . }}</li>
    {{ end }}

    {{ with .Site.Author.email }}
      <li>
        <a href="mailto:{{ . }}" target="_blank" rel="noopener" class="footer__link">Email</a>
      </li>
    {{ end }}

    {{ with .Site.Author.github }}
      <li>
        <a href="https://github.com/{{ . }}" class="footer__link">GitHub</a>
      </li>
    {{ end }}

    {{ with .Site.Author.stackoverflow }}
      <li>
        <a href="https://stackoverflow.com/users/{{ . }}" class="footer__link">Stack Overflow</a>
      </li>
    {{ end }}

    {{ with .Site.Author.twitter }}
      <li>
        <a href="https://twitter.com/{{ . }}" class="footer__link">Twitter</a>
      </li>
    {{ end }}

    {{ with .Site.Author.medium }}
      <li>
        <a href="https://medium.com/@{{ . }}" class="footer__link">Medium</a>
      </li>
    {{ end }}

    {{ if fileExists "static/key.txt" }}
      <li>
        <a href="{{ absURL "key.txt" }}" class="footer__link">PGP key</a>
      </li>
    {{ end }}

    {{ if .IsPage }}
      {{ $path := .File.Path }}
      {{ with .Site.Author.repo }}
        <li class="footer__source">
          <a href="https://github.com/{{ . }}/edit/master/content/{{ $path }}"
            class="footer__link">Propose edits to this page</a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</nav>
